@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');

:root {
    /* colors */
    --main-color: #1fdd96;
    --sub-color: #117c93;
    --secondary-color: orange;
    --third_color: rebeccapurple;
    --animation: all ease-in-out 0.5m;
    /* paddings and shadows */
    --shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.4);
    --gradient: linear-gradient(var(--main-color), var(--main-color),var(--main-color), var(--sub-color));
    --border-radius: 20px;
    /* sizes */
    --container-size: 75%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
}

/* NAVIGATION BAR */
.navigation-bar {
    background-color: var(--main-color);
    /* background-color: transparent; */
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.nav-item {
    color: #fff;
    text-decoration: none;
}

.nav-item:not(:last-child) {
    margin-right: 15px;
}

.nav-item:hover {
    color: olive;
    text-decoration: underline;
}

.logo {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}

.nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ------[ HEADER ]------ */
.header {
    /* background-color: #1fdd96; */
    /* background-image: url('../images/grumpy.jpg'); */
    background-image: var(--gradient);
    padding: 5% 0 15%;
}

.header-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 10%;
}

.heading-one {
font-size: 48px;
color: var(--sub-color);
font-family: 'Goldman', cursive;
font-weight: 700;
}

.heading-two {
    font-size: 40px;
    font-weight: 300;
    color: var(--secondary-color);
}

.subtitle {
    color: #929292;
    font-size: 32px;
}

.header-left p {
    color: white;
    padding: 5% 0;
}

.header-right {
    width: 50%;
}
.header-img {
    width: 100%;
}

/* ------ [ CARDS ]  ----- */
#card-container {
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    padding: 5%;
    box-shadow: 0 10px 10px 10px #00000021;
    margin-top: -8%;
}

.card-item {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 3%;
}

.card-item img {
    width: 100%;
}

.underline {
    width: 60px;
    height: 5px;
    background-color: var(--sub-color);
    margin: 15px 0;
}

/* ---- [APP PROMO] -----*/
.app-promo {
    display: flex;
    margin-top: 8%;
}

.promo-img {
    width: 35vh;
    margin-right: 50px;
}

.promo-txt {
    text-align: right;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.promo-txt p,
.promo-txt h2, 
.promo-txt h3 {
    margin-bottom: 22px;
}


/* ---- [CTA] -----*/
.cta-container {
    text-align: center;
    padding: 15% 0;
}

.cta-container h2 {
    margin-bottom: 24px;
}

.cta-container h3 {
    margin-bottom: 24px;
}

.cta-subscriber {
    display: flex;
    justify-content: center;
}

.cta-subscriber .subscribe-container {
    width: 60%;
}


/* --- TESTIMONIAL ----*/
.quote-container {
    display: flex;
    margin-left: 14%;
    margin-top: 200px;
}

.quote-left {
    background-image: url('../images/quoteBG.svg');
    background-repeat: no-repeat;
    padding: 20px;
    width: 50vw; 
}

.quote-left .heading-two {
    width: 60%;
}

.quote-right {
    background-image: var(--gradient);
    /* border-radius: 20px 0 0 20px; */
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    padding: 10% 0;
}

.quote-content {
    display: flex;
    margin-left: -15%;
}

.quote-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    /* THIS IS REF: box-shadow:  0 5px 6px 0 rgba(0, 0, 0, 0.4); */
    padding: 80px 50px;
    color: grey;
    background-color: white;
    margin-right: 60px;
    height: 330px;
    flex: 1;
    transition: transform ease-in-out 0.5s;
}

.quote-box:nth-child(even) {
    background-color: #f90;
}

.quote-box:hover {
    transform: scale(1.05);
}


/* ---- FOOTER --- */
.footer {
    background-color: #348c9e;
    padding: 2% 0;
    text-align: center;
}

.footer-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.footer-nav-item a {
    color: #fff;
    text-decoration: none;
}

.footer-nav-item a:hover {
    text-decoration: underline;
}

.footer-nav-item:not(:last-child) {
    margin-right: 16px;
}

/* ----- COMPONENTS ----- */
.container {
    max-width: var(--container-size);
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}


.subscribe-container {
    display: flex;
}

.subscribe-container .input {
    padding: 20px 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    margin-right: 16px;
    flex: 2;
    border: 2px solid #929292;
}

.subscribe-container .btn {
    flex: 1;
}

.btn {
    border: none;
    cursor: pointer;
    padding: 20px 10px;
    font-size: 20px;
    color: white;
    border-radius: 10px;
    /* -- */
    box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.4); 
    background-color: #ffe175;
    transition: background-color ease-in-out 0.5s;
}

.btn:hover {
    background-color: #f7b41c;
}
